.full-width{
  width: 100%;
}

.top-padding{
  padding-top: 3px;
}

.card-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.form-container{
  width: 60vh;
  margin: 1vh auto;

}
